@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Приветствую на сайте для заказа пиццы</h1>
    <h2 class="display-3">У нас вы можете заказать любую пиццу из любого заведения</h2>
    <img src="~/images/pizzeria1000.jpg" class="img-thumbnail" alt="...">
</div>
